run = "node test/bot.js"
entrypoint = "README.md"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["cowsay", "libuuid"]

[agent]
expertMode = true

[[ports]]
localPort = 3001
externalPort = 80
